/*--header-two--*/
.header-two-left {
    margin-top: 3.6em;
}
.header-two-left ul li {
    display: inline-block;
    color: #33414e;
    font-size: 1em;
    margin-right: 1.5em;
}
.header-two-left ul li a{
	color:#33414e;
	-webkit-transition:.5s all;
	-moz-transition:.5s all;
	transition:.5s all;
}
.header-two-left ul li a:hover{
	color:#ff5a10;
}
.header-two-left ul li i.glyphicon {
    font-size: .9em;
    margin-right: .8em;
}
.header-two .navbar-nav {
    width: 33%;
}

text {
  fill: #D66868;
  filter: url('#money');
  font-family: 'Playfair Display', 'Georgia', serif;
  font-size: 40px;
  font-weight: 300;
}

span.tag {
    display: block;
    font-size: .3em;
    color: #999;
    font-family: 'Raleway', sans-serif;
    letter-spacing: 1px;
    margin-top: 6px;
	font-weight: 400;
}
.header-two-right {
    text-align: right;
}
.header-right {
    float: right;
    text-align: center;
}
.header-right a {
    font-size: 0.9em;
    color: #33414e;
    font-weight: 500;
}
.header-right a:hover {
    color: #FF590F;
}
.header-right.cart h4 {
    display: inline-block;
}
.header-right span.glyphicon {
    font-size: 1.5em;
    color: #ff590f;
    margin-right: 5px;
}
.cart-box p {
    padding: 6px 8px;
    background-color: #DCDCDC;
    margin-top: 5px;
    font-size: .9em;
}
.header-right.cart {
    margin-right: 2em;
    padding-right: 2em;
    border-right: 1px solid #ECECEC;
    margin-top: 2.3em;
}
.header-right.my-account {
    margin: 3.2em 0;
}
body{
	margin:0;
	font-family: 'Raleway', sans-serif;
	background: #fff;
}
.navbar.navbar-default {
    background: #fff;
    margin: 0;
    border-top: none;
	min-height: 40px;
}
.top-header .nav.navbar-nav {
    margin: 0;
    float: left;
}
.top-header .nav.navbar-nav.social-icons {
    float: right;
	margin-top: 0.5em;
}
.top-header .nav.navbar-nav {
    margin: 0;
    float: left;
}
h1, .h1, h2, .h2, h3, .h3 {
		margin-top: 0px;
		margin-bottom: 0px;
	}
h1,h2,h3,h4,h5,h6{
	margin:0;	
	font-family: 'Pompiere', cursive;
}
